<div id="name" class="page-header">
  <h1>Backbone Metrics</h1>
</div>

<div class="row">
    <h3>Taxa</h3>
    <bars width="960" data="ctrl.counts" max="4400000"></bars>

    <h3>Occurrences by kingdom</h3>
    <bars width="960" data="ctrl.kingdomsOcc" max="460000000"></bars>

    <h3>Taxa by kingdom</h3>
    <bars width="960" data="ctrl.kingdoms" max="2400000"></bars>

    <h3>Taxa by rank</h3>
    <bars width="960" data="ctrl.ranks" max="2600000"></bars>

    <h3>Taxa by origin</h3>
    <bars width="960" data="ctrl.origins" max="4400000"></bars>

    <h3>Taxa by issue</h3>
    <bars width="960" data="ctrl.issues" max="4400000"></bars>
</div>


