<div id="name" class="page-header">
  <h1>GBIF Backbone</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <p>This is a special browser for the <a href="http://www.gbif.org/dataset/{{cfg.datasetKey}}">GBIF backbone</a> taxonomy.</p>
        <p>It aims to assist a user in reviewing the changes from <a href="{{cfg.portal}}dataset/{{cfg.datasetKey}}">the new backbone</a> version
            to the <a href="{{cfg.portal}}dataset/{{cfg.datasetKey}}">current live one</a> by providing comprehensive details for a taxon.
           It also visualizes the impact of the changed taxonomy on GBIF occurrences by offering a map view and various metrics.
        </p>
        <p>Instead of showing numbers side by side colors are used to show significant changes with <span class="less">light red</span> and <span class="muchless">red</span> representing a decrease
            and <span class="more">light green</span> and <span class="muchmore">green</span> an increase in numbers.</p>

        <div class="alert alert-warning" role="alert">Only tested with <strong>Google Chrome!</strong> Other browsers are untested and may not work.</div>
    </div>

</div>


