<div class="row">
  <h2><i>{{taxon.scientificName}}</i></h2>
  <ul>
    <li ng-repeat="tax in taxon.parents">
      <a href="/{{tax.key}}">{{tax.scientificName}}</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-6 no-gutters">
    <h3>Children</h3>
    <ul>
      <li ng-repeat="tax in taxon.children">
        <a href="/{{tax.key}}">{{tax.scientificName}}</a>
      </li>
    </ul>
  </div>

  <div class="col-md-6" ng-if="taxon.synonyms">
    <h3>Synonyms</h3>
    <ul>
      <li ng-repeat="tax in taxon.synonyms">
        <a href="/{{tax.key}}">{{tax.scientificName}}</a>
      </li>
    </ul>
  </div>
</div>
