.page-header {
  margin-top: 80px;
}
.row > [class^="col-"] {
  padding-right: 0;
}
small {
  color: #aaa;
  text-transform: lowercase;
}
.dl-horizontal dt {
  width: auto;
}
.dl-horizontal dd {
  margin-left: 100px;
}

/* sidebar nav */
.bs-sidebar li > a{
    padding: 0px;
}
.bs-sidebar li.active > a{
    font-weight: bolder;
    color: #111;
    background-color: transparent;
}
.bs-sidebar .nav ul {
    display: none;
    padding-bottom: 5px;
    padding-left: 10px;
}
.bs-sidebar li.active ul {
    display: block;
}

/* can be deleted ??? */
ul.tree li + li.indent::before {
    content: '';
    float: left;
    height: 1.5em; /* a bit more than line height */
    width: 1em;
}

.deleted {
    text-decoration: line-through;
}

occ-change div {
    font-size: 9px;
    color: #ccc;
    width: 3em;
    text-align: right;
    display: inline-block;
    position: relative;
    top: -1px;
}
.more {

    color: palegreen;
}
.muchmore {
    color: forestgreen;
}
.less {
    color: lightsalmon;
}
.muchless {
    color: red;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
.size{
    color: #666;
}

/* cant find a way to hide it via the leaflet directove
.leaflet-control-layers {
    visibility: hidden !important;
}
*/

.tmap {
    position: relative;
    font: 9px sans-serif;
}
.node {
    border: solid 1px white;
    background: #D9EDF7;
    color: black !important;
    line-height: 8px;
    overflow: hidden;
    position: absolute;
    text-indent: 1px;
}
.tmap .more {
    background: #a7bf84 !important;
}
.tmap .muchmore {
    background: green !important;
}
.tmap .less {
    background: lightsalmon !important;
}
.tmap .muchless {
    background: red !important;
}

.node:hover {
    background: #ccc;
}



svg.bullet { font: 10px sans-serif; vertical-align: top}
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
.bullet .value { fill: #fff; }

.bar-new {
    color: steelblue;
}
.bar-curr {
    color: lightsteelblue;
}