.page-header {
  margin-top: 100px;
}
.row > [class^="col-"] {
  padding-right: 0;
}
ul.tree li + li.indent::before {
  content: '';
  float: left;
  height: 1.5em; /* a bit more than line height */
  width: 1em;
}
small {
  color: #aaa;
  text-transform: lowercase;
}
.dl-horizontal dt {
  width: auto;
}
.dl-horizontal dd {
  margin-left: 100px;
}